/*!---------- 22. IMAGE TILES ----------*/
img {
  max-width: 100%;
}
.image-tile {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}
.image-tile img {
  width: 100%;
  display: inline-block;
}
.image-tile .label {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
}
.inner-title:before {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(34, 34, 34, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(34, 34, 34, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#292929', GradientType=0);
  pointer-events: none;
}
.inner-title:hover:before {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.inner-title .title {
  position: absolute;
  width: 100%;
  bottom: 24px;
  z-index: 5;
}
.inner-title .title h1,
.inner-title .title h2,
.inner-title .title h3,
.inner-title .title h4,
.inner-title .title h5,
.inner-title .title h6 {
  color: #ffffff;
}
.inner-title .title p,
.inner-title .title span,
.inner-title .title li {
  color: #ffffff;
}
.inner-title .title h5 {
  font-weight: 600;
}
.inner-title {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 1;
}
.inner-title:hover {
  opacity: .95;
}
.inner-title.hover-reveal:before {
  opacity: 0;
}
.inner-title.hover-reveal .title {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.inner-title.hover-reveal:hover .title {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
}
.inner-title.hover-reveal:hover:before {
  opacity: 1;
}
.outer-title img {
  display: inline-block;
  margin-bottom: 12px;
}
.hover-tile {
  position: relative;
  overflow: hidden;
  background: #292929;
}
.hover-tile img {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.hover-tile:hover img {
  opacity: .5;
}
.hover-tile .hover-state {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  opacity: 0;
  width: 100%;
}
.hover-state {
  z-index: 99;
  padding: 0 40px;
  cursor: default;
}
.hover-state h1,
.hover-state h2,
.hover-state h3,
.hover-state h4,
.hover-state h5,
.hover-state h6 {
  color: #ffffff;
}
.hover-state p,
.hover-state span,
.hover-state li {
  color: #ffffff;
}
.hover-state * {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(0, 30px, 0) scale(1.05);
  -webkit-transform: translate3d(0, 30px, 0) scale(1.05);
}
.hover-tile:hover .hover-state {
  opacity: 1;
}
.hover-tile:hover .hover-state * {
  transform: translate3d(0, 0px, 0) scale(1);
  -webkit-transform: translate3d(0, 0px, 0) scale(1);
}
.hover-state *:last-child {
  margin-bottom: 0;
}
.border-thick {
  border: 16px solid #fff;
  border-top: none;
}
.border-thick.col-sm-6:first-child {
  border-right: 8px solid #fff;
}
.border-thick.col-sm-6:last-child {
  border-left: 8px solid #fff;
}