.instafeed.grid-gallery {
  overflow: hidden;
  li {
    width: 25%;
    display: inline-block;
    float: left;
    padding: 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;
    &:hover {
      opacity: .9;
    }
  }
}

@media all and (max-width: 990px) {
  .instafeed.grid-gallery li {
    width: 33.333333%;
  }
}