@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body{
  background-color: #e8dfd6;
  background: url(../images/pattern-noise.png);
}

.header{
  background:#042C36;
  height: 50px;
}
.navbar-header{
/*    margin-top:28px;*/
}
.menu{
/*    margin-top: 20px;*/
}
.header ul{
    
}
.header ul li{
    color:#042c36; 
}
.header ul a{
  color:#fff;
}
.header .navbar-nav>li>a:hover{
  background-color:#04232b;
}
.head-col{
    padding: 20px 20px;
}

/* social media button*/
.social{
  float:right;
}
.social ul {
  float:right;
  list-style: none;
  color: #000;
}
.social ul li {
  float: left;
}
.social ul li a {
  position: relative;
  float: left;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#005f74), to(rgba(240, 230, 220, 0.5)));
  width: 40px; height: 72px;
  text-align: center;
  color: #000;
  padding: 0 0 20px 0;
}
.social ul li a:hover {
  color: #fff;
}
.fa-facebook, .fa-twitter, .fa-github, .fa-linkedin {
  padding: 12px 0 0 0;
  color:#fff;
}

/* Pseudo Elements */
.social ul li a:after {
  content: "";
  position: absolute;
  bottom: 0px; left: 0;
  width: 1px; height: 1px;
  border: 20px solid transparent;
  border-bottom: 20px solid #F3EBE5;
  z-index: 0;
}

/* Hover */
.social ul li.facebook a:hover {
  background: #3b5998;
}
.social ul li.twitter a:hover {
  background: #44ccf6;
}
.social ul li.github a:hover {
  background: #000000;
}
.social ul li.linkedin a:hover {
  background: #1c66c2; 
}

/*search bar*/
.search-bar{
  border-color: #e7e7e7;
  margin-right: 20px;
}
.btn-def{
  width: 16px;
  height: 17px;
  background: url(http://3.bp.blogspot.com/-F6JS0gzLxag/UwI54vaUTlI/AAAAAAAAATE/EEQ-eSyg-yc/s1600/search.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-shadow: none;
  color: transparent;
  border: none;
  background-color: transparent;
  z-index: 671;
  margin-left: -30px;
}

/* sidebar homepage */
.widget{
  font-size: 12px;
  color: #417D87;
  margin: 0 0 10px;
  padding-bottom: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border-radius: 5px;
}
.sidebar h2{
  padding: 10px;
  color: #417D87;
  font-family: ;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 6px;
  text-transform: uppercase;
  margin-top: 0;
  border-bottom: 1px solid #e8dfd6;
}
.sidebar h3{
  color: #417D87;
  font-family: ;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.0em;
  margin:4px 0;
}
.sidebar .btn-primary{
  background-color: #005f74;
  border-color:#005f74;
}
.sidebar .more-info{
  float:right;
  margin-right:20px;
}
.sidebar a{
  color:#fff;
}
.sidebar a:hover{
  text-decoration: none;
}
.profile {
  background: #d0d0d0;
  border: 1px solid #b9b9b9;
  border-radius: 130px;
  float: left;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.1s ease-in;
  padding:4px;
  width: 130px;
  height: 130px;
}
.profile:hover{
  background: #272123;
  border: 1px solid #272123;
}
.profile header{
  mask-image: url('../images/portfolio-mask.png');
  -webkit-mask-image: url('../images/portfolio-mask.png');
  -o-mask-image: url('../images/portfolio-mask.png');
  -moz-mask-image: url('../images/portfolio-mask.png');
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.profile header .details{
  background: #272123;
  background: rgba(39,33,35,0.9);
  padding: 10px 0;
  position: absolute;
  top: 120px;
  left: 0;
  text-align: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  width: 120px;
  height: 40px;
}
.profile:hover header .details{
  top:90px;
}
.sidebar .profile-img img{
  border-radius: 120px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.widget-content{
  padding: 7px;
  margin: 0;
  font-size: 12px;
  color: gray;
}
.widget-content .profile-img{
  text-align: center;
}

/*admin page*/
.dashboard h3{
  color:#fff;
}
.dashboard button{
  background-color: #005f74;
}
.dashboard button a{
  color:#fff;
}