/*!---------- 4. COLOURS ----------*/
.bg-primary {
  background: #47b475 !important;
}
.bg-secondary {
  background: $primary-color-2;
}
.bg-white {
  background: #fff;
}
.bg-dark {
  background: $primary-color-1;
}
.color-body {
  color: #666;
}
.color-primary {
  color: $primary-color-1 !important;
}
.color-red {
  color: #e31d3b !important;
}
.color-white {
  color: #fff;
}